.bouton{
    text-decoration: none;
    background-color: #112074;
    border: none;
    color: #fff;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    transition: background-color 0.3s;
}

body{
    font-family: verdana;
}