body{
    font-family: verdana;
}

#menu {
    position : fixed;
    margin: 10px auto 0;
    margin-left: -5vw;
    text-align: center;
    width : 200px;
}

ul#lemenu {
    list-style: none;
    margin: 10px 0 0;
    margin-left: 2vw;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.btn_menu:hover,.btn_menu:focus{
    box-shadow: 0 0.5em 0.5em -0.5em #112074;
    transform: translateY(-0.15em);
}


.btn_menu {
    background-color: #112074;
    border: none;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    transition: background-color 0.3s;
}
S

div {
    display: block;
    unicode-bidi: isolate;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

#contenu_section {
    height: auto;
    border: 2px solid #112074;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 220px;
    width: 80%;
    
}


