
.conteneur-flexible{/* conteuneur principal ne pas utiliser */
    display: flex;
    font-size: 20px;
    background-color: transparent; /* a mettre en transparant*/
    box-sizing: border-box;
    margin: 0px 0px;
    position:absolute;
    height: 100000vh;
    top:0%;
    left:0%;
    right: 0%;
    bottom: 0%;
  }

  .barreprincipal{
    position: fixed;
    background-color: rgb(208, 0,112);
    border-radius:4px;
    width:170px ;
    height:550px;
   
   
  }

  #logo{
    margin-top:5px;
    width: 150px;
    height: 50px;
  }
  .boutonBR{
    height: 40px;
    width: 100%;
    background-color: rgb(208, 0,112);
    border-color: transparent;
    
  }

  .boutonBR:hover{
    background-color:rgb(208, 0,40);
  }

